@model List<PlateSearchApplication.Models.CarPlate>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Car Database</h1>
    <form action="/search" method="get">
        <h2>Search by plate</h2>
        <label for="Plate"></label>
        <input type="text" name="Plate" />
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
    <p>or</p>
    <h2><a href="/police">List Police Car</a></h2>  
    <p>or</p>
    <h2><a href="/diplomats">List Diplomats Car</a></h2>
    <table>
        <thead>
            <tr>
                <td>Licence plate</td>
                <td>Brand</td>
                <td>Model</td>
                <td>Color</td>
                <td>Year</td>
            </tr>
        </thead>
        @foreach (var car in @Model)
        {
            <tr>
                <td>@car.Plate</td>
                <td>@car.Car_brand</td>
                <td>@car.Car_model</td>
                <td>@car.Color</td>
                <td>@car.Year</td>               
            </tr>
        }
    </table>
    <br /> 
</body>
</html>
